<div id="content-functions_overlays">
    <div id="line-1" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">Внутренние линии для сотрудников и отделов</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/feature-lines-icon.png" alt="Внутренние линии для сотрудников и отделов" />
            </figure>    
            <div class="section">
                <div class="block">
                    <h1 class="profit">Прямая выгода</h1>
                    <p class="overlay-text">Ваши сотрудники быстро переводят звонок на любого человека или отдел, могут легко передать трубку коллеге с другого филиала или города. Сотрудники компании в разных офисах или городах разговаривают между собой бесплатно. Руководство видит продуктивность конкретных сотрудников.</p>
                </div>
                <div class="block">
                   <h1 class="howItWorks">Как это работает</h1>
                    <p class="overlay-text">Каждый человек в вашей компании имеет короткий внутренний номер, например 901. При входящем звонке на номер компании могут одновременно звонить, к примеру, телефоны у сотрудников 901-904 (отдел продаж).</p>
                    <p class="overlay-text">Сотрудники в разных помещениях, городах, странах могут набирать друг друга по внутренним номерам. В веб-интерфейсе личного кабинета MyBinotel доступна готовая статистика об активности каждой линии (по исходящим и входящим звонкам).</p>
<!--                     <p class="interface"><a href="https://my.binotel.ua/">Посмотреть интерфейс &#8594;</a></p> -->
                </div>
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div> 
        <footer></footer>
    </div>

    <div id="line-2" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name middle">Подключение разных телефонных номеров в единую сеть </h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/overlay-logo.png" class="logo" alt="Подключение разных телефонных номеров в единую сеть" />
            </figure>    
            <div class="section moreText">
                <div class="block">
                    <p class="overlay-text">Мы подключим к АТС Binotel™ все Ваши телефонные номера — как городские, так и мобильные. Единственное, что от Вас нужно, — подключить свои номера к SIP-технологии.</p>
                    <p class="overlay-text">К АТС Binotel™ можно подключить Ваши текущие городские или мобильные номера от компаний “Интертелеком”, life:), “Телегруп Украина”, Vega Телеком, “Датагруп”, “Велтон. Телеком”, Golden Telecom и др.</p>
                </div>
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div>
        <footer></footer>
    </div>

    <div id="line-3" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">История всех звонков за выбранный период</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/feature-statistics-icon.png" alt="История всех звонков за выбранный период" />
            </figure>    
            <div class="section">
                <div class="block">
                    <h1 class="profit">Прямая выгода</h1>
                    <p class="overlay-text">Вы узнаете, сколько звонков делает отдел продаж или определенный сотрудник в конкретный период, среднюю длительность разговоров, количество принятых/непринятых звонков, сколько времени в день тратит определенный сотрудник на разговоры, на какие номера звонит и т.п.</p>
                    <p class="overlay-text">Вы будете видеть статистику расходов на исходящую связь по сотрудникам/отделам.</p>
                    <p class="overlay-text">Вы сможете проверять эффективность своих рекламных кампаний.</p>
                </div>
                
                <div class="block">
                    <h1 class="howItWorks">Как это работает</h1>
                    <p class="overlay-text">Виртуальная АТС Binotel™ автоматически формирует готовую статистику в виде простых таблиц и графиков. Посмотреть готовую статистику можно в личном кабинете MyBinotel.</p>
                    <!-- <p class="interface"><a href="https://my.binotel.ua/">Посмотреть интерфейс &#8594;</a></p> -->
                </div>
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div>
        <footer></footer>
    </div>

    <div id="line-4" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">Готовая статистика по активности сотрудников</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/feature-statistics-icon.png" alt="Готовая статистика по активности сотрудников" />
            </figure>    
            <div class="section">
                <div class="block">
                    <h1 class="profit">Прямая выгода</h1>
                    <p class="overlay-text">Вы узнаете, сколько звонков делает отдел продаж или определенный сотрудник в конкретный период, среднюю длительность разговоров, количество принятых/непринятых звонков, сколько времени в день тратит определенный сотрудник на разговоры, на какие номера звонит и т.п.</p>
                    <p class="overlay-text">Вы будете видеть статистику расходов на исходящую связь по сотрудникам/отделам.</p>
                    <p class="overlay-text">Вы сможете проверять эффективность своих рекламных кампаний.</p>
                </div>
                
                <div class="block">
                    <h1 class="howItWorks">Как это работает</h1>
                    <p class="overlay-text">Виртуальная АТС Binotel™ автоматически формирует готовую статистику в виде простых таблиц и графиков. Посмотреть готовую статистику можно в личном кабинете MyBinotel.</p>
                    <!-- <p class="interface"><a href="https://my.binotel.ua/">Посмотреть интерфейс &#8594;</a></p> -->
                </div>
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div>
        <footer></footer>
    </div>

    <div id="line-5" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">Аудиозапись всех разговоров</h1>
            </div>

            <div class="tariffs-icons">
               <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/feature-record-icon.png" alt="Аудиозапись всех разговоров" />
            </figure>    
            <div class="section">
                <div class="block">
                    <h1 class="profit">Прямая выгода</h1>
                    <p class="overlay-text">Записываются все разговоры сотрудников. Помогает вспомнить детали любого разговора. Сотрудники работают более эффективно. Руководители видят объективную картину рабочего процесса. Решать спорные вопросы можно значительно проще и быстрее.</p>
                </div>

                <div class="block">
                    <h1 class="howItWorks">Как это работает</h1>
                    <p class="overlay-text">АТС Binotel™ автоматически фиксирует все телефонные разговоры ваших сотрудников с клиентами. Найти и прослушать необходимую запись в личном кабинете MyBinotel может любой человек с правом доступа к аудиозаписям.</p>
                    <!-- <p class="interface"><a href="https://my.binotel.ua/">Посмотреть интерфейс &#8594;</a></p> -->
                </div>
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div>
        <footer></footer>
    </div>

    <div id="line-6" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">Перевод звонков на сотрудников и в отделы</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/feature-lines-icon.png" alt="Перевод звонков на сотрудников и в отделы" />
            </figure>    
            <div class="section">
                <div class="block">
                    <h1 class="profit">Прямая выгода</h1>
                    <p class="overlay-text">Ваши сотрудники быстро переводят звонок на любого человека или отдел, легко передают трубку коллеге с другого филиала или города. Сотрудники компании в разных офисах или городах разговаривают между собой бесплатно. Руководство видит продуктивность конкретных сотрудников.</p>
                </div>
                
                <div class="block">
                     <h1 class="howItWorks">Как это работает</h1>
                    <p class="overlay-text">Каждый человек в вашей компании имеет короткий внутренний номер, например 901. При входящем звонке на номер компании могут одновременно звонить, к примеру, телефоны у сотрудников 901-904 (отдел продаж).</p>
                    <p class="overlay-text">Сотрудники в разных помещениях, городах, странах могут набирать друг друга по внутренним номерам. В веб-интерфейсе личного кабинета MyBinotel доступна готовая статистика об активности каждой линии (по исходящим, входящим и внутренним звонкам).</p>
                    <!-- <p class="interface"><a href="https://my.binotel.ua/">Посмотреть интерфейс &#8594;</a></p> -->
                </div>
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div>
        <footer></footer>
    </div>

    <div id="line-7" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">Система предотвращения непринятых звонков</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/feature-apportionment-icon.png" alt="Система предотвращения непринятых звонков" />
            </figure>    
            <div class="section">
                <div class="block">
                    <h1 class="profit">Прямая выгода</h1>
                    <p class="overlay-text">Не будет утерянных и забытых звонков, даже в нерабочее время и выходные дни.</p>
                </div>
                
                <div class="block">
                    <h1 class="howItWorks">Как это работает</h1>
                    <p class="overlay-text">При входящем звонке, если все линии заняты или не отвечают, АТС Binotel™ переводит звонок на запасные городские или мобильные номера ответственных сотрудников. В случае, если звонок не будет принят, вместо коротких гудков клиент услышит голосовое сообщение с полезной информацией.</p>
                </div>
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div>
        <footer></footer>
    </div>

    <div id="line-8" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">Бесплатная связь между сотрудниками</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/feature-lower-costs-icon.png" alt="Бесплатная связь между сотрудниками" />
            </figure>    
            <div class="section">
                <div class="block">
                    <h1 class="profit">Прямая выгода</h1>
                    <p class="overlay-text">Бесплатная связь внутри офиса и с филиалами, в т.ч. в других городах и странах.</p>   
                </div>
                
                <div class="block">
                    <h1 class="howItWorks">Как это работает</h1>
                    <p class="overlay-text">АТС Binotel™ работает через Интернет, поэтому внутренняя связь для всех сотрудников является бесплатной, независимо от места нахождения. Система сама понимает направление звонка и автоматически подбирает тот ваш телефонный номер — городской, мобильный, города другой страны, с которого наиболее выгодно совершать звонок.</p>
                </div>
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div>
        <footer></footer>
    </div>

    <div id="line-9" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">Удешевление исходящей связи</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/feature-lower-costs-icon.png" alt="Удешевление исходящей связи" />
            </figure>    
            <div class="section">
                <div class="block">
                    <h1 class="profit">Прямая выгода</h1>
                    <p class="overlay-text">Существенное снижение расходов на связь, в зависимости от специфики бизнеса — до 70%.</p>
                </div>
                
                <div class="block">
                    <h1 class="howItWorks">Как это работает</h1>
                    <p class="overlay-text">Система сама понимает направление звонка и автоматически подбирает тот ваш телефонный номер — городской, мобильный, города другой страны, с которого наиболее выгодно совершать звонок.</p>
                    <p class="overlay-text">Эксперты Binotel также порекомендуют для вашей компании финансово выгодную конфигурацию по переводам и переадресациям звонков.</p>
                </div>
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div>
        <footer></footer>
    </div>

    <div id="line-10" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name medium">Возможность использовать софтфон вместо телефона</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/overlay-logo.png" class="logo" alt="Возможность использовать софтфон (комп. программу) вместо телефона" />
            </figure>    
            <div class="section moreText">
                <div class="block">
                    <p class="overlay-text"><b>Софтфон</b> (с англ. software telephone, программный телефон) — это программа для совершения звонков через Интернет, которая превращает Ваш компьютер в телефон. Чтобы совершать или принимать звонки, Вам понадобятся гарнитура или микрофон и динамики.</p>
                    <p class="overlay-text">Binotel рекомендует использовать программы X-lite, eyeBeam, Zoiper.</p>
                </div>
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div>
        <footer></footer>
    </div>

    <div id="line-11" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">Голосовая информация 24/7</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/feature-24-icon.png" alt="Голосовая информация 24/7" />
            </figure>    
            <div class="section">
                <div class="block">
                    <h1 class="profit">Прямая выгода</h1>
                    <p class="overlay-text">Удержание клиентов, позвонивших в нерабочее время. Формирование и поддержка лояльности клиентов.</p>
                </div>
                
                <div class="block">
                    <h1 class="howItWorks">Как это работает</h1>
                    <p class="overlay-text">Клиент, позвонивший в вашу компанию в нерабочее время или выходной день, услышит вместо длинных гудков голосовую информацию, например:</p> 
                    <blockquote>&ldquo;Здравствуйте, Вы позвонили в компанию “х”. Ваш звонок очень важен для нас. Сегодня — выходной день, поэтому мы не можем Вам ответить. Оставьте свое сообщение после звукового сигнала, и мы Вам перезвоним.&rdquo;</blockquote>
                </div>

                <div class="block">
                    <p class="overlay-text">Текст голосового сообщения может быть по вашему желанию, как шаблонный, так и уникальный. Binotel обеспечит запись в профессиональной студии.</p>
                </div>
                
                <!-- <ul class="samples-list">
                    <li class="sample one"><a href="javascript:void(0)">Прослушать пример <b>1</b></a></li>
                    <li class="sample two"><a href="javascript:void(0)">Прослушать пример <b>2</b></a></li>
                    <li class="sample three"><a href="javascript:void(0)">Прослушать пример <b>3</b></a></li>
                </ul>
                <ul id="scenarios">
                    <li><a href="javascript:void(0)" class="hour">Нерабочее время <span>0:14</span></a></li>
                    <li><a href="javascript:void(0)" class="hour">Выходной день <span>0:17</span></a></li>
                    <li><a href="javascript:void(0)" class="hour">Основное приветствие <span>0:09</span></a></li>
                </ul> -->
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div>
        <footer></footer>
    </div>

    <div id="line-12" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">Интерактивное голосовое меню (IVR)</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/overlay-logo.png" class="logo" alt="Интерактивное голосовое меню (IVR)" />
            </figure>    
            <div class="section moreText">
                <div class="block">
                    <p class="overlay-text"><b>IVR</b> или <b>интерактивное голосовое меню</b> – это система предварительно записанных голосовых сообщений, которая предоставляет клиентам необходимую информацию и выполняет автоматическую маршрутизацию входящих звонков.</p>
                    <p class="overlay-text">Для записи голосовых сообщений Binotel пользуется услугами профессиональной студии, поскольку от приятного голоса, правильной музыки и качества записи сообщения зависит впечатление клиента о Вашей компании.</p>
                    <p class="overlay-text">Binotel предоставляет возможность одноуровневого IVR в пакете Lite и  неограниченный по глубине IVR в пакетах Pro и Enterprise.</p>
                </div>

                <!-- <ul class="sample-list" id="single">
                    <li class="sample one"><a href="javascript:void(0)">Прослушать пример <b>1</b></a></li>
                    <li class="sample two"><a href="javascript:void(0)">Прослушать пример <b>2</b></a></li>
                    <li class="sample three"><a href="javascript:void(0)">Прослушать пример <b>3</b></a></li>
                </ul> -->
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div>
        <footer></footer>
    </div>

    <div id="line-13" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">Бесплатный IP-шлюз для телефонных аппаратов </h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/overlay-logo.png" class="logo" alt="Бесплатный IP-шлюз для телефонных аппаратов" />
            </figure>    
            <div class="section moreText">
                <div class="block">
                    <p class="overlay-text"><b>IP-шлюз</b> — это необходимое устройство для подключения офисных телефонных аппаратов к IP-сети для передачи через неё голоса.</p>
                    <p class="overlay-text">Binotel — единственная компания на рынке, совершенно бесплатно предоставляющая в пользование при подключении к услуге IP-шлюз стоимостью несколько сотен и нередко тысяч гривен.</p>
                </div>
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div>
        <footer></footer>
    </div>

    <div id="line-14" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">Бесплатная запись голосовой информации</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-lite.png" alt="Binotel - тариф Lite" title="Тариф Lite" class="lite" />
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/overlay-logo.png" class="logo" alt="Бесплатная запись голосовой информации" />
            </figure>    
            <div class="section moreText">
                <div class="block">
                    <p class="overlay-text">Binotel бесплатно записывает голосовые сообщения в рамках тарифа Lite — до 15 секунд (суммарно), в рамках тарифа Pro — до 30 секунд (суммарно), в рамках тарифа Enterprise — до 100 секунд (суммарно).</p>
                    <p class="overlay-text">Стоимость записи каждых дополнительных 15 секунд — 40 грн по безналичному расчету.</p>
                </div>

                <!-- <ul class="sample-list" id="single">
                    <li class="sample one"><a href="javascript:void(0)">Прослушать пример <b>1</b></a></li>
                    <li class="sample two"><a href="javascript:void(0)">Прослушать пример <b>2</b></a></li>
                    <li class="sample three"><a href="javascript:void(0)">Прослушать пример <b>3</b></a></li>
                </ul> -->

                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div>
        <footer></footer>
    </div>

    <div id="line-15" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name big">Мини-CRM</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/feature-clients-icon.png" alt="Мини-CRM (информация о клиенте при звонке, статистика активности клиента, комментарии к звонкам и др.)" />
            </figure>    
            <div class="section">
                <div class="block">
                    <h1 class="profit">Прямая выгода</h1>
                    <p class="overlay-text">Информация о клиенте при входящем звонке. Оперативное обслуживание клиентов. История звонков каждого клиента. Статистика активности клиентов.</p>
                </div>
                
                <div class="block">
                    <h1 class="howItWorks">Как это работает</h1>
                    <p class="overlay-text">Во время звонка сотрудник создает профиль нового клиента в личном кабинете MyBinotel, может добавить комментарий к нему и присвоить метку, например: постоянный, vip, оптовый и т.п. Уже при звонке клиента ваши сотрудники увидят историю его обращений и комментарии к предыдущим разговорам и смогут обновить карточку клиента.</p>
                    <!-- <p class="interface"><a href="https://my.binotel.ua/">Посмотреть интерфейс &#8594;</a></p> -->
                </div>
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div> 
        <footer></footer>
    </div>

    <div id="line-16" class="reveal-overlay">
        <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">Интеграция с CRM или сайтом клиента</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/feature-CRM-icon.png" id="pic16" alt="Интеграция с CRM или сайтом клиента" />
            </figure>    
            <div class="section">
                <div class="block">
                    <h1 class="profit">Прямая выгода</h1>
                    <p class="overlay-text">АТС Binotel™ интегрируется с вашей CRM-системой, после чего на мониторах сотрудников появится иконка в виде телефона. С помощью функции “Один клик” сотрудник сможет звонить как из ленты звонков, так и с карточки клиента.</p>
                </div>
                
                <div class="block">
                     <h1 class="howItWorks">Как это работает</h1>
                    <p class="overlay-text">Все входящие и исходящие звонки автоматически заносятся в CRM и прикрепляются к карточкам клиентов. При необходимости можно посмотреть, когда звонил тот или иной клиент, кто с ним разговаривал, а также прослушать запись конкретного разговора.</p>
                </div>
               <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div> 
        <footer></footer>
    </div>

    <div id="line-17" class="reveal-overlay">
         <div class="overlay-head">
            <div class="overlay-title">
                <h1 class="overlay-name">Персональное и массовое отправление SMS</h1>
            </div>

            <div class="tariffs-icons">
                <img src="/images/ico-pro.png" alt="Binotel - тариф Pro" title="Тариф Pro" class="pro" />
                <img src="/images/ico-enter.png" alt="Binotel - тариф Enterprise" title="Тариф Enterprise" class="enterprise" />
            </div>
        </div>
        <div class="overlay-content">
            <figure>
                <img src="/images/feature-sms-icon.png" alt="Персональное и массовое отправление SMS" />
            </figure>    
            <div class="section">
                <div class="block">
                    <h1 class="profit">Прямая выгода</h1>
                    <p class="overlay-text">Быстрый и удобный способ делать персональную/массовую отправку SMS-сообщений с информацией для клиентов и видеть данные о доставке сообщений абонентам.</p>
                </div>
                
                <div class="block">
                    <h1 class="howItWorks">Как это работает</h1>
                    <p class="overlay-text">Ваш сотрудник может отправлять SMS клиентам непосредственно из личного кабинета MyBinotel. В два клика можно отправить сообщение как с шаблонным, так и с уникальным текстом.</p>
                </div>
                <div class="button"><a href="javascript:void(0)" class="button close-reveal-modal">Закрыть</a></div>
            </div>
        </div> 
        <footer></footer>
    </div>
</div>