<div class="title">

    <div class="center-title">
        <div class="text">
            <p>
                <i id="quote"></i>Нас вдохновляет то, что бизнес нашего клиента развивается еще быстрее</i><br><span>Поэтому нам доверяют. Поэтому мы первые</span>
            </p>
        </div>
    </div>
</div>

<div class="wrapper">
    
    <div class="block first">
        <div class="bg">
            <h3>История</h3>
        </div>
        <div class="text">
            <p>В 2006 году командой IT-специалистов был разработан и внедрен первый пакет решений для обеспечения телефонной инфраструктурой нескольких крупных компаний. В 2008 году поставлена амбициозная задача — сделать сложные технологии связи простыми и удобными для широкого круга бизнесов. В 2011 году в Киеве была основана компания Binotel. Уже за первое полугодие работы к телефонии Binotel было подключено более 150 компаний.</p>
        </div>
    </div>
    <div class="block second">
        <div class="bg">
            <h3>Сегодня</h3>
        </div>
        <div class="text">
            <p>Binotel — ведущий оператор связи для бизнеса в Украине. Компания предоставляет услуги телефонии с набором бизнес-инструментов на базе облачной АТС Binotel™. В 2012 году более 500 компаний в Украине доверили нам свою связь. На сегодня к Binotel ежемесячно подключаются от 50 до 100 компаний, в текущем году мы ожидаем 1000 компанию-клиента. </p>
        </div>
    </div>
    <div class="block third">
        <div class="bg">
            <h3>Инновации</h3>
        </div>
        <div class="text">
            <p>Связь Binotel —  не просто номер телефона, это готовая телефонная инфраструктура. Впервые клиент получает эффективное и удобное решение без оборудования, интеграции, настройки, обслуживания и значительных расходов. Впервые широкие возможности корпоративных АТС в сочетании с инструментами повышения продаж и уникальным веб-интерфейсом для сотрудников стали доступны для каждой компании.</p>
        </div>
    </div>
    <div class="block fourth">
        <div class="bg">
            <h3>Решения</h3>
        </div>
        <div class="text">
            <p>Бизнес-связь Binotel предоставляет компании удобную и эффективную связь для повышения продаж. Корпоративная телефония позволяет бесплатно коммуницировать внутри компании и переводить звонки. Умные инструменты АТС Binotel™ дают возможность привлекать и возвращать клиентов в нерабочее время, записывать разговоры, получать готовую статистику по активности клиентов/cотрудников и др. </p>
        </div>
    </div>
    <div class="block fifth">
        <div class="bg">
            <h3>Философия</h3>
        </div>
        <div class="text">
            <p>
            Нами движет стремление к развитию.<br>
            Мы верим, что высокие технологии меняют мир к лучшему.<br>
            Наша философия — каждый день становиться еще лучше, чем вчера.
            </p>
        </div>
    </div>
    
    <div id="wheretogo">
        <ul>
            <li class="togo left">
                <a href="/solutions-pro"><p>О решениях Binotel</p></a>     
            </li>
            
            <li class="togo center">
                <a href="/how-to-connect"><p>Как подключиться</p></a>
            </li>
            
            <li class="togo right">
                <a href="#"><p href="/tariffs">Смотреть тарифы</p></a>
            </li>
        </ul>
    </div>
</div>