<div id="action">
    <ul>
        <li class="call order">
            <a href="javascript:void(0);" id="callme-in-index">
                <span id="left"></span>
                <p class="action left">Заказать звонок</p>
            </a>

        </li>
        
        <li class="question order">
            <a href="javascript:void(0);" id="open-chat">
                <span id="center"></span>
                <p class="action center">Задать вопрос</p>
            </a>
        </li>

        <li class="discount order">
            <a href="javascript:void(0);" id="discount">
                <span id="right"></span>
                <p class="action right">Получить скидку</p>
            </a>
        </li>
    </ul>
</div>