<div id="title">
	<div id="center-title">
		<div id="text">
			<p><i id="quote"></i><span>Первая удобная бизнес-телефония</span><br>Максимум эффективных инструментов. Просто</p>
		</div>
	</div>
</div>

<div id="steps">
	<div class="step one">
		<div class="block phone"></div>
			<p class="first">Шаг 1</p>
			<p class="second">Получите телефонную консультацию у эксперта Binotel</p>
	</div>

	<div class="step two">
		<div class="block tariff"></div>
		<p class="first">Шаг 2</p>
		<p class="second">Закажите тарифный пакет</p>
	</div>	

	<div class="step three">
		<div class="block sign"></div>
		<p class="first">Шаг 3</p>
		<p class="second">Подпишите договор</p>
	</div>

	<div class="step four">
		<div class="block ready"></div>
		<p id="ready">Ура! В течение дня виртуальная АТС Binotel<sup>TM</sup> будет работать.<br> С вашими текущими номерами. C набором современных <a href="http://www.binotel.ua/solutions-pro">бизнес-инструментов</a>. Без покупки офисной АТС, прокладывания кабеля, настроек и вызовов специалиста. </p>
	</div>	
</div>

<%= render :partial => 'partials/action-on-footer' %>
