<div class="content">
    <div class="upper">

        <div class="column left">
            <div id="l1">
                <p class="number">1000+</p>
                <p class="description">человек говорят через Binotel каждую минуту</p>
            </div>
            
            <div id="l2">
                <p class="number">99,996%</p>
                <p class="description">средняя стабильность связи в текущем году</p>
            </div>
        </div>

        <div class="column right">
            <a href="javascript:void(0);" id="link-to-income"> 
                <h3 class="title">Телефония Binotel повышает доходы компаний</h3>
                <img src="/images/more.png" class="know" />
                <p class="more">Узнать больше &nbsp></p>
            </a>
            <span id="separator"></span>
            <a href="/phone-numbers#save-your-phone-number">
                <h3 class="title">При подключении ваши текущие телефонные номера сохраняются</h3>
                <img src="/images/more.png" class="know" />
                <p class="more">Узнать больше &nbsp></p>
            </a>
        </div>
    </div>

    <div id="about">
        <h1>Телефонизация офиса за <strong>1 день</strong><span> на базе виртуальной АТС Binotel<sup>tm</sup></span></h1>
        
        <h3>Binotel — это готовое решение для телефонизации компании. С новыми бизнес-возможностями. С сохранением ваших текущих номеров. Без покупки и установки стационарной офисной АТС, прокладки кабеля, настроек и вызовов специалиста.</h3>
    </div>

    <div class="lower-tariffs">
        <div class="block lite">
            
            <div class="label lite">
                <p class="text"><span>2-8</span> сотрудников</p>
            </div>

            <a class="icon" href="/solutions-lite">
                            
                <img src="/images/lite-main.png" alt="Binotel - тариф Lite" />
                
                <div class="tariff-price lite">
                    <p class="old-price">300</p>
                    <p class="actual-price">225</p>
                    <p class="currency">грн/мес</p>
                </div>

            </a>

            <div class="description">
                <ul>
                    <li><a href="/solutions-lite#внутренние-линии">Внутренние линии для сотрудников и отделов</a></li>
                    <li><a href="/solutions-lite#сценарий-звонка">Система предотвращения непринятых звонков</a></li>
                    <li><a href="/solutions-lite#голосовые-сообщения">Продающая голосовая информация 24/7</a></li>
                    <li><a href="/solutions-lite#запись-разговоров">Постоянная запись разговоров</a></li>
                    <li><a href="/solutions-lite#готовая-статистика">История всех звонков</a></li>
                    <li><a href="/solutions-lite#снижение-расходов">Снижение расходов на связь на 30-50% и др.</a></li>
                </ul>
            </div>
        </div>

        <div class="block pro">
            
            <div class="label pro">
                <p class="text"><span>8-40</span> сотрудников</p>   
            </div>

            <a class="icon" href="/solutions-pro">
                
                <img src="/images/pro-main.png" alt="Binotel - тариф Lite" /> 
                
                <div class="tariff-price pro">
                    <p class="old-price">580</p>
                    <p class="actual-price">435</p>
                    <p class="currency">грн/мес</p>
                </div>
            </a>

            <div class="description">
                <ul>
                    <li><a href="/solutions-lite">Все функции тарифа Lite</a></li>
                    <li><a href="/solutions-pro#sms-рассылки">Персональные и массовые SMS-рассылки</a></li>
                    <li><a href="/solutions-pro#мини-CRM-система">Система учета клиентов (мини-CRM)</a></li>
                    <li><a href="/solutions-pro#интеграция-с-CRM">Интеграция с вашей CRM/ERP</a></li>
                    
                </ul>
            </div>
        </div>

        <div class="block enterprise">
            
            <div class="label enterprise">
                <p class="text"><span>50+</span> сотрудников</p>
            </div>

            <a class="icon" href="/solutions-enterprise">
                
                <img src="/images/enterprise-main.png" alt="Binotel - тариф Lite" /> 
                
                <div class="tariff-price enterprise">
                    <p class="old-price">1700</p>
                    <p class="actual-price">1275</p>
                    <p class="currency">грн/мес</p>
                </div>
            </a>

            <div class="description">
                
                <ul>
                    <li><a href="/solutions-pro">Все функции тарифа Pro</a></li>
                    <li><a href="/solutions-enterprise#смс-рассылки-альфа-номер">SMS-рассылки + Альфа номер</a></li> 
                    <li><a href="/solutions-enterprise#личный-эксперт">Личный эксперт</a></li>
                    <li><a href="/solutions-enterprise#индивидуальные-условия">Индивидуальные условия</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="clients">
    <div id="inner">
        <p id="clients-list">Среди наших клиентов:</p>
        <table> 
            <tr>
                <td><a href="http://www.sixt.ua/" target="_blank" rel="nofollow"><img src="images/1.png"></a></td>
                <td><a href="http://www.rb.ua/" target="_blank" rel="nofollow"><img src="images/2.png"></a></td>
                <td><a href="http://www.nissan-ask.com.ua/" target="_blank" rel="nofollow"><img src="images/3.png"></a></td>
                <td><a href="http://www.poehalisnami.ua/" target="_blank" rel="nofollow"><img src="images/4.png"></a></td>
                <td><a href="http://element.ru/" target="_blank" rel="nofollow"><img src="images/5.png"></a></td>
            </tr>
            <tr>
                <td><a href="http://www.gazda.ua/" target="_blank" rel="nofollow"><img src="images/6.png"></a></td>
                <td><a href="http://pokupon.ua/" target="_blank" rel="nofollow"><img src="images/7.png"></a></td>
                <td><a href="http://www.owox.ua/" target="_blank" rel="nofollow"><img src="images/8.png"></a></td>
                <td><a href="http://www.tehnoshop.ua/" target="_blank" rel="nofollow"><img src="images/9.png"></a></td>
                <td><a href="http://www.mailersoft.ru/" target="_blank" rel="nofollow"><img src="images/10.png"></a></td>
            </tr> 
            <tr>
                <td><a href="http://intraffic.ua/" target="_blank" rel="nofollow"><img src="images/11.png"></a></td>
                <td><a href="http://fkf.kiev.ua/" target="_blank" rel="nofollow"><img src="images/12.png"></a></td>
                <td><a href="http://vozdvizhenka.info/" target="_blank" rel="nofollow"><img src="images/13.png"></a></td>
                <td><a href="http://aquamarinehotel.com.ua/" target="_blank" rel="nofollow"><img src="images/14.png"></a></td>
                <td><a href="http://mibstravel.ua/" target="_blank" rel="nofollow"><img src="images/15.png"></a></td>
            </tr>
            <tr>
                <td><a href="http://www.x-zone.com.ua/" target="_blank" rel="nofollow"><img src="images/16.png"></a></td>
                <td><a href="http://www.ksm-group.ua/" target="_blank" rel="nofollow"><img src="images/17.png"></a></td>
                <td><a href="http://utico.ua/" target="_blank" rel="nofollow"><img src="images/18.png"></a></td>
                <td><a href="http://www.ukrindex.com/?utm_source=partner_banner&utm_medium=banner&utm_campaign=binotel" target="_blank" rel="nofollow"><img src="images/19.png"></a></td>
                <td><a href="http://1palladium.com.ua/" target="_blank" rel="nofollow"><img src="images/20.png"></a></td>
            </tr>
        </table>
    </div>
</div>

<div id="income">
    <div id="head">
        <h2 id="title">Binotel — виртуальная АТС для повышения доходов</h2>
    </div>

    <div class="employees">
        <div class="section one">
            <p class="number">1</p>
            <p class="efficiency"><span>Более<br></span> эффективные сотрудники</p>
        </div>
    
        <img class="income-pic"src="/images/employees.png" alt="Более эффективные сотрудники с Binotel!" />
        <ul class="profit">
            <li class="employee">Постоянная запись разговоров</li>
            <li class="employee">История всех звонков</li>
            <li class="employee">Автораспределение нагрузок</li>
            <li class="employee">Больше продаж за то же время</li>
        </ul>
    </div>

    <div class="clients">
        <div class="section two">
            <p class="number">2</p>
            <p class="efficiency"><span>Больше<br></span> довольных клиентов</p>
        </div>
    
        <img class="income-pic" src="/images/clients-pic.png" alt="Больше довольных клиентов с Binotel!"/>
        <ul class="profit">
            <li class="client">К вам всегда можно дозвониться</li>
            <li class="client">Оперативное обслуживание клиентов</li>
            <li class="client">Персонализация общения</li>
            <li class="client">Продающая голосовая информация 24/7</li>
        </ul>
    </div>

    <div class="data">
        <div class="section three">
            <p class="number">3</p>
            <p class="efficiency"><span>Больше<br></span> ценной информации</p>
        </div>
    
        <img class="income-pic" src="/images/data.png" alt="Больше ценной информации с Binotel!"/>
        <ul class="profit">
            <li class="info">Информация о клиенте при звонке</li>
            <li class="info">Показатели продуктивности сотрудников</li>
            <li class="info">Статистика активности клиентов</li>
            <li class="info">Данные о расходах на исходящую связь</li>
        </ul>
    </div>
</div>

<%= render :partial => 'partials/action-on-footer' %>

<script type="text/javascript">
$(document).ready(function() {
    $('#link-to-income').click(function(e) {
         $('html, body').animate({
            scrollTop: $("#income").offset().top - 40
        }, 900);
    });
});
</script>
