
<div class="content">
	
	<div class="message">
		<div id="text">
			<p>Телефония от Binotel &#8212; это больше, чем качественная связь,</p>
			<p>это <span>эффективный инструмент</span> для вашего бизнеса</p>
		</div>
	</div>

	<div class="more-info">

		<div class="features">
				
			<div class="feature-block a">
				<h2>Единая корпоративная телефонная система</h2>
				<p>В рамках каждого из тарифных планов Binotel позволяет быстро и просто объединить телефонные номера и аппараты сотрудников компании в единую телефонную систему. Без дополнительного оборудования, сложных настроек, головной боли. Буквально в течение дня Вы можете начать пользоваться современной связью с набором эффективных бизнес-инструментов, таких как:</p>
			</div>

			<div class="feature-block a1">
				<h2>Многоканальный номер</h2>
				<p>Ваши клиенты не услышат короткие гудки. Функция многоканальности номера позволит одновременно совершать и принимать множество звонков. Используя всего один телефонный номер, IP-телефония от Binotel обеспечит вашим сотрудникам персональные линии для общения с клиентами. Независимо от того сколько у вас сотрудников &#8212; 3 или 300.</p>
			</div>

			<div class="feature-block a2">
				<h2>Полная история совершенных и принятых звонков</h2>
				<p>Система Binotel автоматически создает готовую статистику по:</p>
				<ul>
					<li>количеству, длительности и времени совершения звонков</li>
					<li>периодам наибольшей активности входящих звонков</li>
					<li>всем совершенным звонкам</li>
					<li>эффективности каждого сотрудника</li>
					<li>активности конкретных клиентов</li>
					<li>эффективности рекламных кампаний</li>
				</ul>
				<p>История звонков поможет вам оценивать и контролировать деятельность компании.</p>
			</div>

			<div class="feature-block a3">
				<h2>Постоянная запись всех разговоров</h2>
				<p>Автоматическая запись разговоров фиксирует всю историю общения ваших сотрудников с клиентами. Это позволит:</p>
				<ul>
					<li>стимулировать сотрудников компании работать эффективней и качественней</li>
					<li>увидеть объективную картину рабочего процесса</li>
					<li>фиксировать важные деловые разговоры</li>
					<li>принимать нужные решения</li>
					<li>решать спорные вопросы</li>
				</ul>
				<p>Вы можете прослушать необходимую запись из архива звонков в любое время.</p>
			</div>

			<div class="feature-block a4">
				<h2>Удобный учет клиентов</h2>
				<p>“Мои Клиенты” &#8212; одна из полезнейших функций тарифа Pro:</p>
				<ul>
					<li>позволяет легко сохранять и вести клиентов по телефонному номеру</li>
					<li>сохраняет информацию обо всех совершенных разговорах между клиентами и сотрудниками компании</li>
					<li>быстро находить необходимую информацию о клиенте, например, точное время звонка, адрес электронной почты, номера телефонов или банковские реквизиты</li>
					<li>помогает обеспечить индивидуальный подход в обслуживании.</li>
				</ul>
			</div>

			<div class="feature-block a5">
				<h2>Информация о клиенте при поступившем звонке</h2>
				<p>С Binotel каждый клиент, позвонивший в вашу компанию, будет думать, что его знают и помнят. Ваши сотрудники смогут увидеть историю заказов конкретного клиента в окне веб-интерфейса и приятно его удивить, обратившись по имени.</p>
			</div>

			<div class="feature-block a6">
				<h2>Приветствие и голосовое сообщение в нерабочее время</h2>
				<p>Если по какой-либо причине вы не можете принять вызов, или клиент звонит в нерабочий день, то он услышит приятное голосовое приветствие, которое предоставит всю необходимую информацию и поможет его “зацепить”. При подключении ко всем тарифам Binotel мы бесплатно записываем для вас приветствие и голосовое сообщение в профессиональной студии.</p>
			</div>

			<div class="feature-block a7">
				<h2>Отчеты по активности каждого оператора</h2>
				<p>Вы можете быть в курсе индивидуальной эффективности каждого сотрудника, просто ознакомившись со статистикой его рабочей активности. Binotel предоставляет готовые отчеты в простом и понятном веб-интерфейсе. Несколько колонок - и сразу ясно сколько и как работает тот или иной сотрудник.</p>
			</div>

			<div class="feature-block a8">
				<h2>Перевод звонков на сотрудников и в отделы</h2>
				<p>С помощью Binotel входящие звонки клиентов могут автоматически распределяться по сотрудникам или отделам. Также сотрудники могут самостоятельно переводить звонки на колег в случае необходимости.</p>
			</div>

			<div class="feature-block a9">
				<h2>Бесплатная связь с удаленными филиалами</h2>
				<p>С Binotel вы получите возможность совершать звонки, проводить совещания и конференции между удаленными филиалами совершенно бесплатно. Таким образом, внутри компании будет установлена качественная и надежная связь, а расходы на нее сократятся.</p>
			</div>

		</div>	
		
	</div>

	<div class="buttons-block">
			
			<a class="y-button-1" href="/tariffs">
				<div class="title">
					<span class="icon1"></span>
					<span>Смотреть тарифы</span>
				</div>
				<span class="left"></span>
				<span class="right"></span>
			</a>
			
			<a class="y-button-2" href="/why-binotel">
				<div class="title">
					<span class="icon2"></span>
					<span>Почему Binotel лучше других</span>
				</div>
				<span class="left"></span>
				<span class="right"></span>
			</a>

			<a class="y-button-3" href="/how-to-connect">
				<div class="title">
					<span class="icon3"></span>
					<span>Как подключиться</span>
				</div>
				<span class="left"></span>
				<span class="right"></span>
			</a>
	</div>

</div>