
<div class="content">
	
	<div class="message">
		<div id="text">
			<p class="left">Работаете в электронной коммерции?</p>
			<p class="right">Binotel &nbsp<strong>повысит продажи.</strong></p>
		</div>
	</div>

	<div class="e-com-features">
		
		<div class="container-1">
			
			<div class="message-1">
				<p id="step1">1</p>
				<p id="text-message">Принимайте &nbsp<strong>больше звонков</strong></p>
			</div>
			
			<div class="features-block-1">
				
				<div class="block left-1">
					<div class="icon l1-1"></div>
					<h3>Многоканальный номер</h3>
					<p>Ваши клиенты не услышат короткие гудки. Функция многоканальности номера позволяет одновременно совершать и принимать множество звонков. Это дает возможность оформлять больше заказов, обслуживать больше клиентов и как результат — получать больше прибыли. Вы также существенно сокращаете расходы на связь, поскольку платите как за один телефонный номер.</p>
				</div>
				
				<div class="block center-1">
					<div class="icon l1-2"></div>
					<h3>Персональные линии для сотрудников</h3>
					<p>Используя один или несколько телефонных номеров, Binotel обеспечивает вашим сотрудникам персональные линии для общения с клиентами. Независимо от того сколько у вас сотрудников — 3 или 30, получать одинаково качественное обслуживание могут все клиенты, что повышает их лояльность к вашему интернет-магазину.</p>
				</div>
				
				<div class="block right-1">
					<div class="icon l1-3"></div>
					<h3>Автораспределение звонков по операторам</h3>
					<p>C помощью данной функции поступающие звонки автоматически распределяются между сотрудниками. Система мгновенно «находит» свободного оператора или напраляет звонок определенной группе операторов, так что клиент может быть обслужен максимально оперативно.
					</p>
				</div> 
			</div>

		</div>

		<div class="container-2">

			<div class="message-2">
				<p id="step2">2</p>
				<p id="text-message">Повышайте &nbsp<strong>эффективность продаж</strong></p>
			</div>
			
			<div class="features-block-2">
				
				<div class="block left-2">
					<div class="icon l2-1"></div>
					<h3>История совершенных и принятых звонков</h3>
					<p>Система Binotel автоматически создает готовую статистику по:</br>
						- количеству, длительности и дате всех звонков</br>
						- времени ожидания клиентов на линии</br>
						- эффективности сотрудников</br>
						- среднему времени обработки вызовов</br>
						- количеству всех непринятых звонков</br>
						- активности конкретного клиента</br>
						- эффективности рекламных кампаний</br>
						</p>
				</div>

				<div class="block center-2">
					<div class="icon l2-2"></div>
					<h3>Запись всех разговоров</h3>
					<p>Автоматическая запись разговоров фиксирует всю историю общения сотрудников с клиентами. Это позволяет:</br>
					- стимулировать сотрудников работать эффективней</br>
					- видеть объективную картину рабочего процесса</br>
					- фиксировать важные деловые разговоры</br>
					- принимать нужные решения</br>
					- решать спорные вопросы</br>
					Вы можете прослушать необходимую запись из архива звонков в любое время.
					</p>
				</div>

				<div class="block right-2">
					<div class="icon l2-3"></div>
					<h3>Современный веб-интерфейс</h3>
					<p>Простой и удобный веб-интерфейс Binotel позволяет вам легко получать доступ к нужной статистике и контролировать эффективность каждого сотрудника. Добавить оператора или группу, распределить звонки между ними, прописать сценарии их работы — все эти и многие другие функции системы можно настроить не имея специальных навыков и без помощи специалистов. </br> 
					Курируйте всю систему корпоративной связи с веб-интерфейсом Binotel из любой точки мира.</p>
				</div>

			</div>

		</div>

		<div class="container-3">

			<div class="message-3">
				<p id="step3">3</p>
				<p id="text-message">Привлекайте &nbsp<strong>больше клиентов</strong></p>
			</div>
			
			<div class="features-block-3">
				
				<div class="block left-3">
					<div class="icon l3-1"></div>
					<h3>Голосовые приветствия и сообщения</h3>
					<p>С Binotel в любое время рабочего и выходного дня клиенты знают, что вы ими дорожите. Приятное голосовое приветствие помогает расположить клиента, а голосовое сообщение предоставляет всю необходимую информацию. При подключении в рамках любого тарифного пакета Binotel мы бесплатно записываем для вас приветствие и голосовое сообщение в профессиональной студии.</p>
				</div>

				<div class="block center-3">
					<div class="icon l3-2"></div>
					<h3>Система учета клиентов </h3>
					<p>Функция «Мои Клиенты» идентифицирует абонента по номеру и отображает оператору информацию о нем из базы данных, а также позволяет:</br>
					- легко сохранять информацию о клиентах в единой базе данных</br>
					- распределять клиентов и партнеров по тематическим группам</br> 
					- получать всю информацию по взаимодействию с клиентом: номер телефона, время звонка, статистику активности, запись разговора и пр.</br>
					- обеспечить индивидуальный подход в обслуживании
					</p>
				</div>

				<div class="block right-3">
					<div class="icon l3-3"></div>
					<h3>Интеграция с вашей CRM</h3>
					<p>Перейти на более качественный уровень обслуживания клиентов, затрачивая при этом минимум времени сотрудников, можно при интеграции системы Binotel с CRM Вашего интернет-магазина.</br> 
					В результате Ваши сотрудники могут легко фиксировать историю взаимоотношений и находить каждого клиента в единой базе, прослушивать и анализировать свои телефонные разговоры, звонить прямо из интерфейса системы.</p>
				</div>

			</div>

		</div>

	</div>

</div>