<%= render :partial => 'partials/functions_description' %>

<div class="title">
    <span id="shadow"></span>
    <div class="wrapper">
        <div id="center-text">
            <p class="slogan">Мы уверены. Вам понравится работа АТС Binotel<sup>ТМ</sup></p>
        </div>
        <div id="top-tariffs">
            <img src="/images/header-tariffs.jpg" alt="Понятная и прозрачная тарификация" />
        </div>
    </div>
</div>

<div class="content">
    
    <div class="block">
        
        <table>
            
            <tr> 
                <td class="service dark" id="inner"><a href="#" class="feature revealLink" data-reveal-id="line-1">Внутренние линии для сотрудников и отделов (в пакете) <sup>1</sup></a></td>
                <td class="lite dark"><strong>6</strong></td>
                <td class="pro dark"><strong>10</strong></td>
                <td class="enterprise dark"><strong>50</strong></td>
                <td class="empty dark"></td>
            </tr>

            <tr> 
                <td class="service light" id="network"><a href="#" class="feature revealLink" data-reveal-id="line-2">Подключение разных телефонных номеров в единую сеть <sup>2</sup></a></td>
                <td class="lite light">до <strong>3</strong></td>
                <td class="pro light">до <strong>6</strong></td>
                <td class="enterprise light">до <strong>10</strong></td>
                <td class="empty light"></td>
            </tr>

            <tr> 
                <td class="service dark"><a href="#" class="feature revealLink" data-reveal-id="line-3">История всех звонков за выбранный период</a></td>
                <td class="lite dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="pro dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="enterprise dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="empty dark"></td>
            </tr>

            <tr> 
                <td class="service light"><a href="#" class="feature revealLink" data-reveal-id="line-4">Готовая статистика по активности сотрудников</a></td>
                <td class="lite light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="pro light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="enterprise light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="empty light"></td>
            </tr>

            <tr> 
                <td class="service dark"><a href="#" class="feature revealLink" data-reveal-id="line-5">Аудиозапись всех разговоров</a></td>
                <td class="lite dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="pro dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="enterprise dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="empty dark"></td>
            </tr>

            <tr>
                <td class="service light"><a href="#" class="feature revealLink" data-reveal-id="line-6">Перевод звонков на сотрудников и в отделы</a></td>
                <td class="lite light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="pro light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="enterprise light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="empty light"></td>
            </tr>

            <tr> 
                <td class="service dark"><a href="#" class="feature revealLink" data-reveal-id="line-7">Система предотвращения непринятых звонков</a></td>
                <td class="lite dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="pro dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="enterprise dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="empty dark"></td>
            </tr>

            <tr>
                <td class="service light"><a href="#" class="feature revealLink" data-reveal-id="line-8">Бесплатная связь между сотрудниками</a></td>
                <td class="lite light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="pro light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="enterprise light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="empty light"></td>
            </tr>

            <tr> 
                <td class="service dark"><a href="#" class="feature revealLink" data-reveal-id="line-9">Удешевление исходящей связи</a></td>
                <td class="lite dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="pro dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="enterprise dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="empty dark"></td>
            </tr>

            <tr>
                <td class="service light"><a href="#" class="feature revealLink" data-reveal-id="line-10">Возможность использовать софтфон (комп. программу) вместо телефона</a></td>
                <td class="lite light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="pro light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="enterprise light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="empty light"></td>
            </tr>

            <tr>
                <td class="service dark"><a href="#" class="feature revealLink" data-reveal-id="line-11">Голосовая информация 24/7</a></td>
                <td class="lite dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="pro dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="enterprise dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="empty dark"></td>
            </tr>

            <tr>
                <td class="service light"><a href="#" class="feature revealLink" data-reveal-id="line-12">Интерактивное голосовое меню (IVR)</a></td>
                <td class="lite light">одноуровневое</td>
                <td class="pro light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="enterprise light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="empty light"></td>
            </tr>

            <tr> 
                <td class="service dark"><a href="#" class="feature revealLink" data-reveal-id="line-13">Бесплатный IP-шлюз для телефонных аппаратов <sup>3</sup></a> 
                </td>
                <td class="lite dark">на <strong>2</strong> телефона</td>
                <td class="pro dark">на <strong>4</strong> телефона</td>
                <td class="enterprise dark">на <strong>10</strong> телефонов</td>
                <td class="empty dark"></td>
            </tr>

            <tr> 
                <td class="service light"><a href="#" class="feature revealLink" data-reveal-id="line-14">Бесплатная запись голосовой информации</a>
                </td>
                <td class="lite light">до <strong>15</strong> сек</td>
                <td class="pro light">до <strong>30</strong> сек</td>
                <td class="enterprise light">до <strong>100</strong> сек</td>
                <td class="empty light"></td>
            </tr>      

            <tr>
                <td class="service dark" id="crm"><a href="#" class="feature revealLink" data-reveal-id="line-15">Мини-CRM (информация о клиенте при звонке, статистика активности клиента, комментарии к звонкам и др.)</a></td>
                <td class="lite dark"></td>
                <td class="pro dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="enterprise dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="empty dark"></td>
            </tr>

            <tr>
                <td class="service light"><a href="#" class="feature revealLink" data-reveal-id="line-16">Интеграция с CRM или сайтом клиента</a></td>
                <td class="lite light"></td>
                <td class="pro light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="enterprise light"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="empty light"></td>
            </tr>

            <tr>
                <td class="service dark"><a href="#" class="feature revealLink" data-reveal-id="line-17">Персональное и массовое отправление SMS</a></td>
                <td class="lite dark"></td>
                <td class="pro dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="enterprise dark"><img src="/images/tick_new.png" alt="Включено" /></td>
                <td class="empty dark"></td>
            </tr>

            <tr>
                <td class="service light grey"><sup>1</sup> Стоимость одной доп. внутренней линии сверх пакета, грн/мес</td>
                <td class="lite light grey"><strong>15</strong></td>
                <td class="pro light grey"><strong>20</strong></td>
                <td class="enterprise light grey"><strong>15</strong></td>
                <td class="empty light"></td>
            </tr>

            <tr>
                <td class="service dark grey"><sup>2</sup> Стоимость подключения одного доп. номера сверх пакета, грн/мес</td>
                <td class="dark grey" colspan="3">Первые десять номеров: <strong>40</strong> | Все последующие: <strong>20</strong></td>
                <td class="empty dark-full"></td>
            </tr>

            <tr>
                <td class="service light grey"><sup>3</sup> Аренда IP-шлюза на 2 телефона, грн/мес</td>
                <td class="lite light grey"><strong>25</strong></td>
                <td class="pro light grey"><strong>25</strong></td>
                <td class="enterprise light grey"><strong>25</strong></td>
                <td class="empty light"></td>
            </tr>
        </table> 
    </div>

    <div class="b-footer">
    </div>

    <div class="email-form">
        <div class="message-wrapper">
        
            <div class="message-25">
                <p class="text-1st-line">Получите годовую скидку</p>
                <p class="discount"> -25% </p>
                <p class="text-2nd-line">на все тарифы Binotel</p>
            </div>
        </div>

        <div class="send-me">
            <input type="text" class="email" id="enter-email" placeholder="Ваш e-mail">
            <div class="email-me-button">
                <a href="#">Получить код скидки</a>
                <p class="description-1st-Line">В письме мы пришлем Вам код скидки. <br>Binotel никогда не передает имейлы третьим лицам.</p>
            </div>       
        </div>

        <script type="text/javascript">
            $(document).ready(function () {




                $("div.email-me-button a").hover(
                    function () {
                        $(this).parent().addClass("hover");
                    }, 
                    function () {
                        $(this).parent().removeClass("hover");
                    }
                );
            
                $("div.email-me-button a").click(function () {

                    $(this).parent().addClass("click");
                    
                    var email = $.trim($("div.email-form input#enter-email").val());
                    
                    if (email !== '') {                        
                        $.ajax({
                            type: 'POST',
                            url: '/send-email',
                            data: {email: email},
                            dataType: 'json'
                        }).done(function (resp) {
                            if (resp['status'] === 'success') {
                                if (window.production === true) {
                                    _gaq.push(['_trackEvent', 'Request for discounts', 'Sent', 'Sent']);
                                }

                                $("div.email-form").addClass("success");
                                $("div.email-form").empty();
                                $("div.email-form").html(
                                    '<p class="success-discount">-25%</p>' +
                                    '<p class="success-text-1st-Line">Поздравляем!</p>' +
                                    '<p class="success-text-2nd-Line">Код скидки успешно отправлен на Ваш e-mail.</p>'
                                );
                            } else if (resp['status'] === 'email already has a discount') {
                                $("div.email-me-button").removeClass("click");
                                
                                $("div.email-form input").data('popover', null).popover({
                                    placement: 'top',
                                    trigger: 'manual',
                                    title: 'Ошибка', 
                                    content: 'Этот e-mail уже получил скидку.'
                                });
                                
                                $("div.email-form input").popover('show');
                                
                                setTimeout(function () {
                                    $("div.email-form input").popover('hide');
                                }, 4000);
                            } else {
                                $("div.email-me-button").removeClass("click");

                                $("div.email-form input").data('popover', null).popover({
                                    placement: 'top',
                                    trigger: 'manual',
                                    title: 'Ошибка', 
                                    content: 'Неверно введен e-mail.'
                                });
                                
                                $("div.email-form input").popover('show');
                                
                                setTimeout(function () {
                                    $("div.email-form input").popover('hide');
                                }, 4000);
                            }
                        }).fail(function (jqXHR, textStatus) {
                            $("div.email-me-button").removeClass("click");
                            
                            $("div.email-form input").popover({
                                placement: 'top',
                                trigger: 'manual',
                                title: 'Ошибка', 
                                content: 'Что-то пошло не так.'
                            });
                            
                            $("div.email-form input").popover('show');
                            
                            setTimeout(function () {
                                $("div.email-form input").popover('hide');
                            }, 4000);
                        });
                    } else {
                        $("div.email-me-button").removeClass("click");

                        $("div.email-form input").popover({
                                placement: 'top',
                                trigger: 'manual',
                                title: 'Ошибка', 
                                content: 'Необходимо ввести e-mail'
                            });
                            
                            $("div.email-form input").popover('show');
                            
                            setTimeout(function () {
                                $("div.email-form input").popover('hide');
                            }, 4000);
                    }

                    return false;
                });
                
                $("[rel=popover]").popover({placement: 'right'});
            });
        </script>
    </div>
    
    <div id="email">
        <div id="head"></div>
        <div id="message-wrapper">
            
            <div id="message-25">
                <p class="get">Получите годовую скидку</p>
                <p id="discount-25"> -25% </p>
                <p class="get">на все тарифы Binotel</p>
                <span id="togo"></span>
            </div>

        </div>

        <div id="send-me">
            <div id="send">
                <input type="text" id="enter-email" placeholder="Введите Ваш e-mail">
                <div id="button">
                    <a href="javascript:void(0);" class="link">Получить скидку</a>
                </div>
            </div>
            <p id="detail">В письме мы пришлем Вам код скидки. <br>Binotel никогда не передает имейлы третьим лицам.</p>
        </div>
        <div id="send-success-email">
            <p>-25%</p>
            <p>Поздравляем! Код Вашей скидки успешно отправлен.</p>
            <input class="button close-email" type="button" value="Вернуться к сайту">
        </div>
    </div>

</div>
