<div class="content">

	<h2>
	Правила користування послугами ТОВ "БІНОТЕЛ"
	</h2>

	<h4>
	1. ЗАГАЛЬНІ ПОЛОЖЕННЯ 
	</h4>
	<p>
	1.1. Правила користування послугою БІНОТЕЛ (далі – Правила) встановлюють права та обов'язки ТОВ «БІНОТЕЛ» (далі – Оператор) та користувача послуг (далі – Абонент), порядок та умови укладення договору про надання послуг (далі – Договір), порядок та умови підключення, доступу та користування послугами, які надаються Оператором, питання захисту персональних даних Абонентів, порядок призупинення та припинення надання послуг, порядок припинення дії Договору, відповідальність Сторін, питання оренди обладнання, а також інші питання, не врегульовані Договором та/або законодавством.<br>
	1.2. Правила становлять невід'ємну складову частину Договору. Норми цих Правил не є вичерпними та можуть доповнюватися нормами Договору та інших його невід'ємних складових. В разі суперечності між нормами Договору та цих Правил, використовуються норми Договору.<br>
	1.3 Оператор має право вносити зміни та/або доповнення до цих Правил, які доводяться до відома Абонентів не менше, ніж за 10 календарних днів до дати набуття ними чинності.<br>
	1.4. Правила діють для всіх без виключення Абонентів незалежно від часу укладення Договору (включаючи тих Абонентів, Договори з яким укладені до набрання чинності цими Правилами), типу тарифу чи інших обставин.<br>
	1.5. Взаємовідносини Сторін регулюються Договором, Правилами, Тарифами, іншими документами, що становлять невід’ємну частину Договору, а також нормами законодавства України, що стосуються взаємовідносин між Сторонами.<br>
	1.6. Тарифи Оператора (далі Тарифи) постійно відображені на офіційному сайті Оператора за адресою www.binotel.ua<br> 
	1.7. Сторони погоджуються, що у їх відносинах використовуються українська та/або російська мови.<br>
	1.8. Послуги Оператора не є телекомунікаційними послугами. Оператор надає Абоненту Послуги з використанням телефонного номеру (телефонних номерів), які надані Абоненту згідно договорів з операторами (провайдерами) загальнодоступних телекомунікаційних послуг. Відповідальність за дотримання умов договорів з операторами (провайдерами) загальнодоступних телекомунікаційних послуг та законодавства про телекомунікації та телекомунікаційні послуги несе Абонент.<br>
	1.9. Оператор надає Абоненту Послуги з використанням програмного забезпечення Оператора. Абоненту не належать права власності на програмне забезпечення та надані Оператором внутрішні номери за цим Договором.<br>
	</p>


	<h4>
	2. УКЛАДЕННЯ ДОГОВОРУ ТА ПОРЯДОК ПІДКЛЮЧЕННЯ ДО ПОСЛУГИ БІНОТЕЛ
	</h4>
	<p>
	2.1. Договір є основним документом, який встановлює та регулює правовідносини між Оператором та Абонентом. Доступ до Послуг БІНОТЕЛ надається Абоненту на підставі заявки на підключення, заповненої форми технічного завдання та Договору.<br>
	2.2. Для укладення Договору особа, яка бажає стати Абонентом, надає Оператору усну або письмову заявку на підключення, у якій зазначає свої данні за переліком, визначеним у п.2.4 Правил, та адресу бажаного підключення.<br>
	2.3. Заявка надається Оператору шляхом заповнення відповідної форми на сайті Оператора, у письмовій формі заявки особисто чи поштою або в усній формі за телефоном. Оператор залишає за собою право проводити звукозапис усних заявок.<br>
	2.4. У заявці на підключення особою, що бажає стати Абонентом, зазначаються наступні дані:<br>
		- назва згідно установчих документів (для юридичних осіб) абр прізвище, ім’я, по-батькові згідно паспорту (для фізичних осіб, в т.ч. фізичних осіб – суб’єктів підприємницької діяльності (далі – ФОП));<br>
		- для ФОП - паспортні дані (серія, номер, ким і коли виданий) та індивідуальний податковий номер (ідентифікаційний код), номер свідоцтва платника ПДВ, номер свідоцтва про реєстрацію суб’єктом підприємницької діяльності;<br>
		- для юридичних осіб – код ЄДРПОУ, індивідуальний податковий номер (ІПН), номер свідоцтва платника ПДВ;<br>
		- юридичну та поштову адреси;<br>
		- адреса бажаного підключення (місто, вулиця, будинок, корпус, під’їзд, поверх, офіс (квартира, кімната));<br>
		- засоби зв’язку: телефони (стаціонарний (за наявності) та мобільний), електронна пошта, адреса веб-сайту (за наявності);<br>
		- банківські реквізити (номер рахунку, банк, МФО);<br>
		- обраний Абонентом тариф (тарифний план), додаткові послуги та товари (обладнання);<br>
		- інші дані, визначені формою заявки.<br>
	2.5. Форма технічного завдання відображає схему (принцип), згідно якої Оператор проводить налаштування телефонної системи Абонента та в подальшому надає Послуги. Погодження умов технічного завдання відбувається письмово в електронному форматі, шляхом заповнення типової форми, до підписання Договору або після, але не пізніше двох робочих днів з моменту підписання Договору.<br>
	2.6. Надання послуг Оператором здійснюється за дотримання наступних умов:<br>
	- послуги надаються лише за технологією «SIP-телефонія». Отримання та використання Послуг можливе лише за умови наявності у Абонента необхідного Обладнання та активної точки доступу до мережі Інтернет;<br>
	- наявність у Оператора технічної можливості. Під технічною можливістю розуміється знаходження Абонента в зоні дії Послуги;<br>
	- внесення Абонентом на розрахунковий рахунок Оператора платежу як абонентської плати згідно з обраним Тарифним планом.<br>
	- наявність у Абонента інтернет-каналу до uaix із швидкістью від 512кбіт/с, затримкою до 30 мс та джиттером до 20мс.<br>
	- робота факс-апаратів можлива лише за умови забезпечення Абонентом 0% втрат пакетів на інтернет-каналі до точки демаркації Оператора.<br>
	2.7. У разі неможливості зв’язатися з особою, яка подавала заявку на підключення, Оператор вважає заявку неподаною та не проводить дій по підключенню нового Абонента.<br>
	2.8. Якщо під час перевірки наданих документів та інформації або в подальшому, під час дії Договору, будуть виявлені помилки, недоліки, протиріччя або інші порушення, Оператор має право поставити вимоги щодо їх усунення. Якщо останнє не буде виконано, Оператор має право відмовити в укладанні Договору або припинити надання послуг за Договором та вважати Договір розірваним.<br>
	2.9. Перелік робіт, обладнання, функції телефонії та їх вартість визначаються Тарифами.<br>
	2.10. На вимогу Абонента Оператор невідкладно надає/надсилає Абоненту Правила і Тарифи в письмовому вигляді із обов’язковим зазначенням періоду дії цих документів.<br>
	</p>


	<h4>
	3. ЗБИРАННЯ, ОБРОБКА ТА ЗАХИСТ ПЕРСОНАЛНИХ ДАНИХ
	</h4>
	<p>
	3.1. Будь-які дії з персональними даними Абонентів – фізичних осіб (в т.ч. ФОП) здійснюються у чіткій відповідності до вимог законодавства, зокрема Закону України «Про захист персональних даних».<br>
	3.2. Абонент фактом надання Оператору своїх даних надає повну та безумовну згоду на збирання, обробку та інші дії зі своїми персональними даними для цілей, визначених у п. 3.3 Правил, а також підтверджують те, що він є повідомленим про внесення його персональних даних до бази персональних даних Оператора «Контрагенти».<br>
	3.3. Метою оброблення бази персональних даних «Контрагенти» є забезпечення реалізації відносин у сфері надання телекомунікаційних, економічних та інших послуг, податкових відносин та відносин у сфері бухгалтерського обліку відповідно до Цивільного кодексу України, Господарського кодексу України, Податкового кодексу України, а також в цілях управління господарською діяльністю Оператора.<br>
	3.4. У разі відмови Абонента надати згоду на дії, пов’язані з його персональними даними, або відкликання такої згоди Договір не набуває чинності або припиняє свою дію. Персональні дані можуть бути вилучені з відповідної бази персональних даних за заявою особи відповідно до законодавства. Вилучення даних Абонента тягне за собою припинення дії Договору.<br>
	3.5. Абонент погоджується, що його персональні дані в порядку, передбаченому законодавством, можуть передаватися третім особам для цілей, визначених у цих Правилах. Розпорядників баз персональних даних Оператора немає.<br>
	3.6. Оператор забезпечує захист персональних даних Абонентів. Доступ до персональних даних є обмеженим і здійснюється у відповідності до законодавства та внутрішніх організаційно-розпорядчих документів Оператора.<br>
	</p>


	<h4>
	4. ПОРЯДОК НАДАННЯ ПОСЛУГ І КОРИСТУВАННЯ МЕРЕЖЕЮ
	</h4>
	<p>
	4.1. Послуги надаються цілодобово протягом семи днів на тиждень без перерв (за виключенням випадків, передбачених законодавством та цими Правилам). Обліковий час для надання послуги – Київський. Умовами надання послуг Оператором є наявність Договору з Абонентом та оплата цих послуг відповідно до умов Договору, цих Правил та Тарифів.<br>
	4.2. Послуги починають надаватись після оплати Абонентом абонентської плати за місяць згідно Розділу 5 цих Правил, протягом наступного робочого дня після погодження форми технічного завдання згідно п.п.2.5 або з моменту усунення неполадок, що спричиняють недоступність послуги.
	4.3. Для роботи у мережі та оптимізації відносин з Оператором Абоненту присвоюється унікальний особистий ідентифікатор – логін та пароль. Логіном є номер Договору. Пароль Абонент обирає (формує) самостійно за власним бажанням. Будь-яка кількість інформації, що буде передана в мережі з використанням ідентифікованого за логіном та паролем Абонента обладнання, буде вважатися Оператором як така, що спожита Абонентом, на що Абонент погоджується.<br>
	4.4. У мережі Абоненту надається особистий кабінет, вхід до якого здійснюється за його логіном та паролем. За допомогою особистого кабінету Абонент має змогу перевіряти статистику, стан рахунку, управляти сервісами Послуги, отримувати новини щодо Послуги тощо. Особистий кабінет залишається активним навіть у випадку призупинення надання послуг Оператором, за виключенням випадків відсутності технічної можливості (пошкодження мережі тощо).<br>
	4.5. Офіційні повідомлення Оператора Абонентам здійснюються шляхом розсилання повідомлень електронною поштою на адресу, яку вказано у Договорі або в особистому кабінеті, за допомогою особистого кабінету, а також шляхом розміщення інформації на офіційному сайті Оператора, якщо інша форма не передбачена законодавством як обов’язкова.<br>
	При цьому повідомлення, що надсилаються Оператором, не будуть вважатися інформацією, що не замовлялась.<br>
	Повідомлення та відповіді Абонентом здійснюються письмово або електронною поштою на електроні адреси, вказані у Договорі або на сайті Оператора, якщо інша форма не передбачена законодавством або Договором як обов’язкова<br>
	4.6. Абонент вважається повідомленим з моменту надходження повідомлення на його електронну адресу або до особистого кабінету або з моменту розміщення повідомлення на сайті Оператора.<br>
	4.7. Оператор надає Послугу в тому вигляді, у якому вона доступна на момент надання. Повна достовірна інформація про послугу, її якість ті інші характеристики надається Абоненту при укладенні з ним Договору. Оператор не дає гарантій того, що будь-яка інформація або дані, що пересилаються за допомогою послуги, не містять віруси, або інші небажані компоненти. Оператор не несе відповідальності за негативні для Абонента наслідки, спричинені такими небажаними компонентами, або змістом отриманої інформації.
	При наданні послуг враховується інформація, надана Абонентом Оператору під час заповнення заявки (брифу).<br>
	4.8. Оператор має право призупиняти надання Послуги на час проведення регламентних і профілактичних робіт технічних або програмних засобів мережі в період з 21:00 до 9:00. Сумарний час відсутності послуги не повинен перевищувати 48 годин на місяць.<br>
	4.9. Оператор зобов’язується інформувати Абонента електронною поштою, засобами особистого кабінету або розмістивши інформацію на своєму веб-сайті про:
	- впровадження нових послуг;<br>
	- впровадження (зміну) тарифів на послуги;<br>
	- виконання капітальних, профілактичних чи інших робіт (не пізніше ніж за одну добу до початку їх виконання), що призведе до тимчасового скорочення переліку послуг чи припинення їх надання, а також орієнтовні строки поновлення надання послуг;<br>
	- умови отримання або припинення надання послуг у разі виникнення надзвичайної ситуації, введення надзвичайного чи воєнного стану;<br>
	- інші обставини, які можуть вплинути на порядок, умови та строки надання Послуг.<br>
	4.10. Оператор з технічних причин, у цілях забезпечення стабільності та безпеки абонентської мережі, має право змінювати параметри надання послуг, обмежувати проходження окремих видів трафіку та доступ до певних Послуг.<br>
	4.11. Абонент не має права без письмової згоди Оператора перепродавати чи надавати безкоштовно чи за плату послугу третім особам, а також зобов'язаний використовувати послугу виключно на території приміщення, вказаного у Договорі, як адреса споживання послуги.<br>
	4.12. Будь-які дії Абонента, в т.ч. пов’язані з комерційним використання Абонентом послуги за згодою Оператора, повинні повністю відповідати вимогам законодавства України.<br>
	4.13. Абонент підтверджує, що Абонент та/або особи, які мають доступ до послуги, проінструктовані щодо заходів безпеки при роботі з обладнанням та щодо надання першої невідкладної медичної допомоги.<br>
	4.14. Абонент зобов’язується<br>
	- використовувати справне кінцеве обладнання;<br>
	- не допускати використання кінцевого обладнання для вчинення протиправних дій або дій, що суперечать інтересам національної безпеки, оборони та охорони правопорядку;<br>
	- не допускати дій, що можуть створювати загрозу для безпеки експлуатації мереж телекомунікацій, підтримки цілісності та взаємодії мереж телекомунікацій, захисту інформаційної безпеки мереж телекомунікацій, електромагнітної сумісності радіоелектронних засобів, ускладнювати чи унеможливлювати надання послуг іншим Абонентам;<br>
	- не відправляти за допомогою послуги будь-яку інформацію, яка суперечить чинному законодавству України;<br>
	- не використовувати послугу для розповсюдження матеріалів, що принижують людську гідність, для пропаганди насильства, розпалювання расової або національної ворожнечі, для хуліганських або шахрайських цілей;<br>
	- без погодження з Оператором не усувати обставини, що впливають на надання Послуг;<br>
	- виконувати вимоги законодавства про телекомунікації та телекомунікаційні послуги;<br>
	- надавати Оператору дані про отримані послуги (вид, тривалість, зміст, маршрути передачі, запис та обробка даних дзвінків, хостинг даних тощо, неотримання або отримання неякісних Послуг) для забезпечення виконання Договору, а також для повноцінної роботи системи та надання Послуг;<br>
	- у випадку замовлення Абонентом Послуги, пов’язаної із записом телефонних розмов, або наявності такої послуги у тарифному плані Абонент тим самим автоматично погоджується і бере на себе відповідальність повідомити(-ляти) всіх осіб, що розмовляють у телефонній системі Абонента, і згідно з чинним законодавством України отримати(-увати) їхню згоду на запис розмови(-ов);<br>
	- у випадку наміру Абонента змінити місце отримання Послуг, письмово повідомити Оператора про такий намір за 30 (тридцять) календарних днів до передбачуваної дати зміни Місця отримання Послуг.<br>
	4.15. Абонент має право на:<br>
	- своєчасне і якісне одержання послуг, їх безпеку;<br>
	- косультаційну інформацію загального характеру та пов’язану з участю третіх сторін в межах надання послуг, в т.ч. підключення софтфонів, перепідключення номерів операторів тощо. Обсяг інформації для Абонентів лімітований 2 (двома) годинами в пакеті Lite та 4 (чотирма) годинами в пакеті Pro;<br>
	- Інформаційна та технічна підтримка, яка не належить до обов’язків Оператора за цими Правилами та перевищує гарантований пакетом безкоштовний ліміт тарифікується згідно п.п. 5.4.<br>
	- безоплатне отримання від Оператора вичерпної інформації про зміст, якість, вартість та порядок надання послуг, відомостей щодо наданих послуг, зміну умов надання послуги і тарифів на її надання;<br>
	- обмеження Оператором доступу Абонента до окремих видів послуг на підставі його письмової заяви;<br>
	- відмову від послуг у порядку, встановленому Договором;<br>
	- відшкодування збитків, заподіяних унаслідок невиконання чи неналежного виконання Оператором обов’язків, передбачених Договором чи законодавством;<br>
	- вибір тарифу, тарифного плану, встановленого Оператором з урахуванням норм Договору, цих Правил;<br>
	- зміну обсягу Послуг;<br>
	- припинення надання Оператором послуг, які вони не замовляли, у тому числі розсилання електронних, текстових, мультимедійних та голосових повідомлень, спаму;<br>
	- отримання безоплатної консультаційної допомоги Оператора з питань замовлення та отримання послуг, що ним надаються;<br>
	- припинення дії Договору в односторонньому порядку у випадках, передбачених Договором (в т.ч. Правилами, Тарифами) та/або законодавством України
	Оператор та Абонент мають інші права та обов’язки, визначені законодавством України та(або) Договором.<br>
	4.16. Гранична кількість дзвінків Абонента складає: у тарифі Lite - до 4,4 тис. дзвінків/міс.;  у тарифі Pro - до 8,8 тис дзвінків/міс.;  у тарифі Enterprise - до 26 тис. дзвінків/міс.<br>
	4.17. Оператор зберігає файли із записами розмов Абонента протягом 1 року. Абонент має право висунути вимогу про видалення таких файлів до спливу річного строку.<br>
	4.18. Оператор не має права ознайомлюватися з файлами із записами розмов Абонента, вживає всіх можливих заходів для унеможливлення доступу до таких файлів своїх представників або будь-яких інших осіб, крім Абонента. Надання Оператором інформації із вказаних файлів можливе виключно на підставах та у порядку, які передбачені законодавством України.<br>
	</p>



	<h4>
	5. ПОРЯДОК НАРАХУВАННЯ ТА ОПЛАТИ ВАРТОСТІ ПОСЛУГ
	</h4>
	<p>
	5.1. Розрахунки за послуги здійснюються на умовах передплати за місяць на основі обраного Абонентом тарифу (тарифного пакету) та/або додатково замовлених послуг.<br>
	5.2. Абонентська плата за місяць нараховується з моменту підписання Договору за вирахуванням двох робочих днів виділених на погодження форми технічного завдання згідно п.п. 2.5.
	5.3. Обсяг, кількість та вартість наданих послуг, грошові кошти на умовному рахунку (далі – розрахунковий рахунок) Абонента обліковується за допомогою особистого рахунку, який ідентифікується за логіном Абонента. Стан рахунку та інші дані відображається в особистому кабінеті Абонента.<br>
	5.4. Перша оплата нового Абонента, якщо інше не обумовлено Сторонами, Договором між Сторонами та/або обраним Абонентом тарифом включає наступні платежі:<br>
	- оплата абонентської плати за місяць, у якому здійснено підключення, відповідно до кількості днів до закінчення календарного місяця;<br>
	- оплата вартості підключення;<br>
	- оплата замовлених додаткових послуг та товарів (обладнання).<br>
	Вартість вказаних послуг (товарів) зазначається в Тарифах і сплачується протягом 5 (п’яти) календарних днів з дня виставлення Оператором відповідного рахунку(-ів).<br>
	Вартість додаткових послуг та товарів (обладнання) визначається на основі своєї ринкової та/або закупівельної вартості та вартості роботи технічного спеціаліста. Вартість роботи спеціаліста тарифікується з розрахунковим кроком 90 (дев'яносто) гривень за 00 годин 15 хвилин. Кожен крок починаючи з першої хвилини зараховується у обсязі своєї повної вартості. <br>
	5.5. Оплата послуг здійснюється у національній валюті України шляхом перерахування коштів на поточний рахунок Оператора або через платіжні термінали 24nonStop.<br>
	5.6. Розрахунковим періодом є розрахунковий місяць. Початком розрахункового місяця є 00 год. 00 хв. першого числа відповідного календарного місяця. Закінченням розрахункового місяця є закінчення 23 год. 59 хв. останнього числа відповідного календарного місяця.<br>
	5.7. Абонент передплачує Послуги за розрахунковий період (календарний місяць, в якому надаються Послуги) незалежно від обсягу використання або наміру використання Послуг в цей розрахунковий період. Дата початку і закінчення розрахункового періоду пов'язана з терміном дії обраного тарифного плану, а не з датою оплати рахунку Абонентом.<br>
	5.8. Оператор не надає безкоштовних послуг Абоненту. У разі несплати Абонентом вартостості надаваних послуг до 10 (десятого) числа місяця розрахункового періоду Оператор може протягом двох календарних днів частково або повністью припинити надання послуг Абоненту.<br>
	5.9. В період відключення Абонента за несплату вартість надаваних послуг з місячної абонентської плати не вираховується.<br>
	5.10. Повторне включення відбувається протягом доби з моменту сплати Абонентом вартості надаваних послуг.<br>
	5.11. Оплата здійснюється за рахунками, які Оператор надсилає Абоненту. Абонент здійснює оплату вартості Послуг протягом 5 (п'яти) календарних днів з дати отримання рахунку Оператора, але не пізніше 10 (десятого) числа місяця розрахункового періоду.<br> 
	Рахунок надходить Абоненту до 6 (шостого) числа місяця, який є розрахунковим періодом, в електронному вигляді на контактну електронну скриньку Абонента, вказану у Договорі або поштоую на поштову адресу.<br> 
	У разі неотримання рахунку у вказаний термін, Абонент зобов’язаний звернутися до служби розрахунків Оператора до 8 (восьмого) числа календарного місяця для отримання інформації про належну до сплати суму. Абонент не звільняється від обов’язку оплати Послуги у випадку неотримання рахунку від Оператора.<br> 
	5.12. Факт оплати Послуг є підтвердженням прийняття Абонентом Послуг за попередній розрахунковий період та підтвердженням замовлення Абонентом послуг, щодо яких виставлено рахунок Крім того, Абонент на вимогу Оператора зобов’язаний підписати Акт прийому наданих Послуг.<br>
	5.13. Оператор має право самостійно змінити вартість Послуг у випадку зміни законодавства, зміни або запровадження нових цін або тарифів, введення нових податків, обов’язкових зборів і платежів, перегляду цінової політики Оператора, зміни загальної кон’юнктури на ринку, а також при інших обставинах, які впливають на формування вартості Послуг.<br>
	5.14. При зміні вартості Послуг за даними Правилами на підставі п. 5.10, Оператор попереджає про це Абонента не пізніше ніж за 10 (десять) календарних днів до початку календарного місяця шляхом направлення повідомлення Абоненту на контактну електронну скриньку, вказану в Договорі, із зазначенням нової вартості Послуг та шляхом розміщення інформації про нову вартість Послуг на офіційному Інтернет-сайті Оператора за адресою в мережі Інтернет www.binotel.ua. Абонент також може бути попереджений про нову вартість Послуг із застосуванням автоматичних аудіо-засобів. Якщо Абонент сплачує послуги з 1 по 6 число календарного місяця за новим рахунком, він автоматично погоджується зі змінами вартості Послуг та продовжує користуватися послугами згідно Договору.<br>
	5.15. У разі неотримання Оператором протягом 10 (десяти) календарних днів з дати попередження Абонента про нову вартість Послуг письмового повідомлення від Абонента про незгоду з новою вартістю Послуг, нова вартість Послуг вважається погодженою та починає застосовуватись з дати, що вказується в повідомленні про зміну вартості Послуг.<br>
	5.16. У разі отримання Оператором в строк, зазначений в п. 5.12 Правил, письмового повідомлення від Абонента про незгоду з новою вартістю Послуг, Послуги, з новою вартістю на які Абонент не згодний, припиняються надаватись Абоненту з найпізнішої із дат: дати, що вказується в повідомленні про зміну вартості Послуг або з дати отримання письмового повідомлення від Абонента.<br>
	5.17. У разі неоплати Абонентом отриманих Послуг у встановлений строк, Оператор має право скоротити або Припинити надання Послуг. Поновлення надання Послуг проводиться протягом двох діб (без врахування вихідних та святкових днів) з моменту отримання підтвердження погашення заборгованості (в тому числі абонентської плати за період, протягом якого Послуги не надавались) та внесення плати за поновлення надання Послуг. Оператор має право в односторонньому порядку розірвати Договір у разі прострочення оплати Абонентом Послуг більше, ніж на один місяць.<br>
	5.18. Припинення/призупинення надання Послуг не звільняє Абонента від обов’язку сплатити Оператору вартість фактично наданих Послуг за Договором до дати Припинення/призупинення надання Послуг та погасити іншу заборгованість за Договором (в т.ч. із абонентської плати).<br>
	5.19. Оператор має право не призупиняти надання послуги Абоненту при відсутності коштів на розрахунковому рахунку у разі активації відповідної додаткової послуги чи за інших умов, визначених Оператором.<br>
	5.20. Відповідальність за негативні наслідки у зв’язку з неправильним зазначенням Абонентом своїх реквізитів, зокрема ненадходження коштів на розрахунковий рахунок Абонента або помилкове зарахування коштів, несе Абонент.<br>
	5.21. Кількість, вартість і технічні параметри послуг, наданих Абоненту в розрахунковому періоді, визначаються відповідно до показників належних Оператору технічних засобів виміру кількості, обсягу та вартості послуг, наданих Абоненту. Показники технічних засобів Оператора є єдиним джерелом інформації про обсяг фактично спожитих послуг при тарифікації і вирішенні суперечок.<br>
	5.22. Абонент самостійно стежить за станом свого рахунку, відповідає за правильність і своєчасність зроблених ним платежів.<br>
	5.20. Абонент має право змінювати тарифний план, змінювати перелік замовлених послуг або замовляти додаткові послуги.<br>
	Вказані дії можуть бути проведені самостійно Абонентом через особистий кабінет або за зверненням Абонента до Оператора, але не частіше одного разу на місяць. Новий тариф вступає в силу, а послуги починають надаватись з початку наступного розрахункового місяця за умови сплати Абонентом рахунку, що включає проведені Абонентом зміни.<br>
	Зміна тарифу на тариф з більшою абонентською платою є безкоштовною. Зміна тарифу на тариф з меншою абонентською платою оплачується у розмірі, визначеному Оператором у Тарифах.<br>
	5.21. У разі запровадження нових тарифів чи послуг Оператор зобов’язаний їх оприлюднити.
	У випадках зміни умов надання послуг, тарифів, тарифних планів Абонентові надсилається повідомлення, в якому зазначається інформація про зміни, дату і строк їх запровадження з посиланням на веб-сайт та/або номер телефону чи інше доступне Абоненту джерело інформації.<br>
	5.22. Абонент несе повну відповідальність за стан свого програмного забезпечення, в т.ч. за наявність вірусів, що є шкідливими комп'ютерними програмами, умисно чи випадково встановлених самим Абонентом, тому вчинені цими програмами дії (операції) вважаються такими, що вчинені Абонентом.<br>
	5.23. Припинення надання Послуги або розірвання Договору не звільняють Абонента від сплати за надані йому Послуги.<br>
	</p>


	<h4>
	6. ПОРЯДОК ПРИПИНЕННЯ НАДАННЯ ПОСЛУГ ТА ДІЇ ДОГОВОРУ
	</h4>
	<p>
	6.1. Припинення (повне та тимчасове) надання послуги може відбуватися як за ініціативою Оператора, так і Абонента. Кожна із Сторін при відсутності заборгованостей та/або прострочень за Договором має право припинити дію Договору, попередивши про це іншу Сторону не пізніше, ніж за 30 (тридцять) календарних днів до дати розірвання Договору.<br>
	6.2. Припинення надання послуг (послуги) може здійснюватися Оператором у разі припинення дії Договору, в тому числі його дострокового розірвання, або внесення до Договору змін щодо припинення надання однієї чи кількох послуг, замовлених Абонентом:<br>
	1) за письмовою заявою Абонента у строк, що не перевищує 30 календарних днів з моменту отримання Оператором заяви, якщо більший строк не зазначений у заяві. При цьому кошти, списані з рахунку Абонента з початком настання розрахункового періоду, не повертаються.<br>
	2) за ініціативою Оператора у разі:<br>
	- прострочення оплати Абонентом Послуг більше, ніж на один місяць;<br>
	- порушення Абонентом вимог пункту 4.16 цих Правил та вимог законодавства, недотримання яких тягне припинення надання послуги. В цьому випадку Оператор має право розірвати Договір в односторонньому порядку та припинити надання послуг без попереднього повідомленням про це Абонента;<br>
	- порушення інших умов Договору;<br>
	6.3. У разі припинення дії Договору поновлення надання послуг можливе виключно шляхом укладення нового Договору у порядку, визначеному цими Правилами.
	</p>

	

	<h4>СТРОК ДІЇ ТА ПОРЯДОК РОЗІРВАННЯ ДОГОВОРУ</h4>
	<p>
	7.1. Договір набуває чинності з моменту його підписання Сторонами та здійснення відповідних платежів Абонентом і діє безстроково.<br>
	7.2. Дія Договору продовжується на кожний наступний календарний місяць, якщо Сторони не виявили бажання його припинити. Одна із Сторін, яка виявила бажання не продовжувати дію Договору на наступний місяць, повинна повідомити про це іншу Сторону не пізніше ніж за один календарний місяць до дати припинення Договору. У разі невиконання цієї умови, строк дії Договору вважається продовжений на наступний календарний місяць.<br>
	7.3. Договір може бути розірваний у випадках та в порядку, передбаченому цим Договором.<br>
	7.4. Договір може бути розірваний шляхом письмового повідомлення ініціюючою Стороною іншу Сторону про таке розірвання не пізніше ніж за 30 (тридцять) календарних днів до дати розірвання Договору. При цьому, Договір вважається розірваним за умови виконання Абонентом своїх грошових зобов’язань за цим Договором.<br>
	7.5. В разі розірвання договору всі данні Абонента видаляються без можливості відновлення.<br>
	</p>


	<h4>
	8. ВІДПОВІДАЛЬНІСТЬ СТОРІН
	</h4>
	<p>
	8.1. За невиконання або неналежне виконання цих Правил та умов Договору Сторони несуть відповідальність згідно Договору, цих Правил та чинного законодавства України.<br>
	8.2. За порушення Абонентом строку перерахування платежів, передбачених цим Договором, Абонент сплачує Оператору пеню в розмірі подвійної облікової ставки Національного банку України, що діяла в період, за який нараховується пеня, від розміру простроченого платежу за кожний день такого прострочення.<br>
	8.3. У разі недостатності суми проведеного Абонентом платежу для оплати виставленого Оператором рахунку зарахування суми платежу для погашення заборгованості здійснюється у порядку, передбаченому Цивільним кодексом України, а саме: у першу чергу погашається пеня; у другу чергу погашається основний борг за Послуги, починаючи з боргів попередніх періодів, якщо інше не передбачене Договором.<br>
	8.4. За час, протягом якого Послуги не надавалися з вини Абонента, щомісячні фіксовані платежі, встановлені цим Договором, сплачуються Абонентом в повному розмірі.<br>
	8.5. У разі передачі Абонентом Послуги третім особам або використання обладнання, що забезпечує надання Послуг для інший цілей, ніж передбачено Договором, невиконання вимог законодавства про телекомунікації Оператор має право негайно припинити надання Послуг Абоненту. При цьому Абонент зобов’язаний відшкодувати Оператору збитки, спричинені такими діями, та сплатити штраф у розмірі десяти мінімальних заробітних плат, встановлених на дату виявлення вказаних порушень.<br>
	8.6. Оператор не несе відповідальності за ненадання або неналежне надання Послуг за умови настання будь-яких обставин, які виникли не з вини Оператора, в т.ч. внаслідок дії обставин непереборної сили, зловмисних дій третіх осіб (в т.ч. вірусних програм) тощо.<br>
	8.7. Оператор не несе відповідальності за неотримання Абонентом надісланого Оператором повідомлення електронною поштою в разі його блокування поштовим сервером Абонента, потрапляння листа у спам або буд-якої іншої обставини, яка не стосується технічного забезпечення Оператора.<br>
	8.8. Оператор не несе відповідальності за технічні проблеми та несправності, що виникають у Абонента через третіх сторін (операторів, провайдерів тощо), і не здійснює консультаційної підтримки щодо їх усунення.<br>
	8.9. Після підписання Договору й до моменту початку надання послуги Абоненту Оператор звільняється від будь-якої відповідальності за ненадання послуги. Права Абонента та обов'язки Оператора щодо надання послуги виникають лише після підключення обладнання Абонента до обладнання Оператора і наявності технічної можливості надання послуги.<br>
	8.10. До початку надання Послуг Абонент несе відповідальність за будь-які збитки, заподіяні Оператору (пошкодження обладнання Оператора, введення в оману Оператора шляхом надання неправдивої інформації при укладені Договору тощо).<br>
	8.11. Абонент приймає на себе повну відповідальність і ризики, пов'язані з збереженням конфіденційної інформації, що знаходиться на обладнанні Абонента, та працездатність самого обладнання.<br>
	8.12. Абонент приймає на себе повну відповідальність і ризики, пов'язані з використанням Послуг. При цьому Оператор не надає ніяких гарантій, явних або неявних, і не несе ніякої відповідальності за якість будь-яких товарів, інформації або послуг, що надаються за допомогою Послуги.<br>
	8.13. Абонент несе повну відповідальність за збереження своїх логіна та пароля доступу і за збитки, що можуть виникнути у разі несанкціонованого використання його каналу доступу.
	8.14. Оператор не несе відповідальності за оповіщення третіх осіб про розірвання даного Договору.<br>
	8.15. Якщо Абонент пошкодить обладнання або програмне забезпечення Оператора, у зв'язку з самовільним виконанням робіт по ремонту або заміні, зміні (в т.ч. перевстановленні, оновленні) обладнання / програмного забезпечення, а також якщо пошкодження обладнання / програмне забезпечення Оператора спричинила відсутність заземлення кінцевого обладнання Абонента, Абонент повинен відшкодувати в повному обсязі всі збитки та упущену вигоду Оператору.<br>
	8.16. Абонент несе повну відповідальність за будь-яку шкоду, що виникла у зв'язку з порушенням вимог законодавства України щодо користування телекомунікаційними послугами.<br>
	8.17. Сторони звільняються від відповідальності за невиконання або неналежне виконання своїх зобов'язань у випадку, якщо таке невиконання або неналежне виконання сталось внаслідок дії обставин непереборної сили, внаслідок дій третіх осіб, внаслідок прийняття актів державних органів та інших незалежних від Сторін обставин, які унеможливлюють своєчасне, повне та належне виконання Стороною своїх зобов'язань за даним Договором, як то призупинення надання послуги внаслідок перерв в подачі електроенергії, перебоїв на зовнішньому каналі, ненадання або перебоїв з наданням послуг національними та/або міжнародними інтернет провайдерами, аварійніх відключень в дата-центрах, ненадання послуг операторами загальнодоступних телекомунікаційних послуг тощо.<br>
	8.18. Під обставинами непереборної сили Сторони розуміють надзвичайні і непереборні сили (стихія, дія суспільного ворога, оголошена та неоголошена війна, загроза війни, терористичний акт, блокада, революція, заколот, повстання, масові заворушення, громадська демонстрація, блискавка, пожежа, буря, повінь, землетрус, нагромадження снігу або ожеледь, вибух тощо), дію яких неможливо упередити застосуванням звичайної практики персоналу Оператора або силами фізичної особи і які є обставинами, що звільняють Оператора або Абонента від відповідальності за невиконання або неналежне виконання своїх обов'язків.<br>
	8.19. У випадку виникнення обставин непереборної сили, інших обставин, що виключають відповідальність сторін Сторона, яка знаходиться під її дією, повідомляє належним чином про це іншу Сторону протягом 5 (п'яти) днів з моменту виникнення такої обставини або з моменту виникнення у такої сторони можливості повідомити іншу Сторону про виникнення обставини.<br>
	Після припинення дії обставини непереборної сили, інших обставин, що виключають відповідальність сторін, Сторона, яка знаходилась під її дією, повідомляє належним чином про таке припинення іншу сторону протягом 5 (п'яти) днів з моменту закінчення дії форс-мажорної обставини або з моменту виникнення у такої Сторони можливості повідомити іншу Сторону про припинення дії форс-мажорної обставини.<br>
	8.20. У випадку порушення Стороною, яка знаходиться під дією обставини непереборної сили, вимог п.7.17 цих Правил, вона втрачає право посилатись на таку обставину як на підставу для звільнення від відповідальності.<br>
	8.21. Виникнення обставини непереборної сили продовжує строки виконання зобов'язань на період, який дорівнює строку дії такої обставини.<br>
	</p>


	<h4>
	9. ОРЕНДА ОБЛАДНАННЯ
	</h4>
	<p>
	9.1. У разі замовлення Абонентом Оператор передає Абоненту в користування обладнання, необхідне для надання Оператором Послуг (далі за текстом – "обладнання").<br>
	9.2. Обладнання передається в оренду з моменту підписання Акту приймання-передачі на весь строк дії Договору.<br>
	9.3. Абонент має право припинити оренду обладнання, повернувши його Оператору у справному стані та з товарним виглядом. У випадку повернення Абонентом обладнання сплачена орендна плата не повертається, а у випадку її несплати – стягується на загальних підставах.<br>
	9.4. Оператор має право достроково припинити відносини з оренди обладнання і вимагати його повернення у разі порушення Абонентом вимог Договору або Правил.
	9.5. Обчислення розміру орендної плати здійснюється без урахування індексів інфляції.<br>
	9.6. Орендна плата сплачується передоплатою не пізніше 10 (десятого) числа відповідного розрахункового періоду у порядку, передбаченому розділом 5 цих Правил.<br>
	9.7. Орендар зобов’язаний протягом 10 днів з моменту прийняття об’єкта‚ що орендується‚ перерахувати орендну плату за один місяць авансом.<br>
	9.8. Розмір орендної плати може переглядатися Сторонами у порядку, встановленому для перегляду вартості Послуг, не частіше,ніж два рази протягом року.<br>
	9.9. Орендар має право вносити орендну плату наперед за період, що не перевищує шести місяців підряд, за умови, що перший місяць цього періоду вже настав. У цьому випадку порядок перегляду орендної плати за п. <br>
	9.8 Правил щодо оплаченого терміну не застосовується.<br>
	9.10. Несплата орендної плати тягне за собою наслідки, передбачені при несплаті вартості Послуг.<br>
	9.11. Оператор зобов’язаний ознайомити Абонента з правилами технічної експлуатації обладнання‚ за необхідності надавати телефонні консультації щодо правил експлуатації, а також надавати інформаційне та консультативне сприяння Абоненту щодо порядку правильної експлуатації обладнання.<br>
	9.12. Абонент несе повну відповідальність за технічну справність та товарний вигляд обладнання. Ремонт переданого в оренду обладнання здійснюється за рахунок Абонента. Вартість ремонту визначається Оператором. У випадку неможливості подальшої експлуатації обладнання Абонент відшкодовує Оператору повну вартість обладнання.<br>
	9.13. Абонент не має права без згоди Оператора проводити ремонт обладнання, здійснювати будь-які поліпшення чи переобладнання.<br>
	9.14. Абонент зобов’язаний використовувати обладнання виключно за цільовим призначенням.<br>
	9.15. Абонент не має права передавати обладнання третім особам, а також використовувати його з комерційною метою.<br>
	9.16. Дія Договору не може бути тимчасово призупинена або припинена Абонентом до повернення обладнання Оператору, а у разі виявлення недоліків обладнання – до відшкодування вартості ремонту або вартості обладнання.<br>
	9.17. Амортизаційні відрахування (у разі їх наявності) нараховуються Оператором.<br>
	9.18. Обладнання передається і повертається разом з тарою‚ упаковкою та технічною документацією (комплектно).<br>
	9.19. Майно‚ що орендується‚ може бути викуплене Абонентом в порядку та на умовах‚ передбачених окремою угодою сторін.<br>
	</p>


	<h4>
	10. ПЕРЕХІДНІ ПОЛОЖЕННЯ 	
	</h4>
	<p>
	10.1. Договори про надання послуг Оператором, укладені раніше дати введення в силу цих Правил (далі – діючі Договори), продовжують діяти в частині, що не суперечить нормам цих Правил. Тарифні плани діючих договорів із введенням в дію цих Правил не змінюються.<br>
	10.2. У разі небажання Абонента продовжувати правовідносини з Оператором за цими Правилами, Абонент протягом 5 календарних днів з дня повідомлення його про введення в дію цих Правил повідомляє Оператора про свою незгоду. У цьому випадку договір з Абонентом припинить свою дію після закінчення поточного розрахункового періоду. У разі ненадходження від Абонента повідомлення про незгоду з новими умовами надання послуги вважається, що Абонент погодився з вимогами цих Правил.<br>
	10.3. Незгода з новими правилами має бути виражена письмово на паперовому носії та надана працівнику Оператора або надіслана поштою. При надісланні незгоди поштою датою повідомлення вважатиметься дата подання листа до поштової установи відповідно до відбитку поштового штемпеля на конверті або інших документів, які підтверджують подання повідомлення до поштової установи для надіслання Оператору.<br>
	10.4. У разі відсутності факту вираження Абонентом незгоди продовжувати правовідносини з Оператором за цими Правилами, вважається, що Абонент підтвердив (надав) згоду на обробку його персональних даних, а також є повідомленим про внесення його персональних даних до бази даних «Контрагенти» Оператора. На Абонентів діючих Договорів розповсюджуються норми розділу 3 цих Правил.<br>
	</p>

</div>