<div class="title">

    <div class="center-title">
        <div class="text">
            <p>
                <i id="quote"></i>Первая удобная бизнес-телефония</i><br><span>Максимум эффективных инструментов. Просто</span>
            </p>
        </div>
    </div>
</div>

<div class="wrapper">

	<div class="three-columns">

		<img src="/images/why-binotel-title.png"></img>

		<div class="column-1">

			<div class="text">
				<h1>Прозрачные тарифы</h1>
				<p>Единый платеж за обслуживание, подключение, оборудование — клиент платит за готовый понятный инструмент по прозрачному принципу тарификации.</p>
				<h1>Качество связи</h1>
				<p>Binotel обеспечивает высокое и стабильное качество связи, не уступающее мобильной и стационарной.</p>
				<h1>Бесплатные услуги</h1>
				<p>Binotel не берет плату за подключение к системе и необходимое оборудование. Только для клиентов Binotel — бесплатная запись голосового приветствия в профессиональной студии.</p>
			</div>
		</div>

		<div class="column-2">

			<div class="text">
				<h1>Широкий набор функций</h1>
				<p>Тарифные пакеты Binotel включают широкий набор функций, которые максимально охватывают потребности бизнеса.</p>
				<h1>Простой и понятный интерфейс</h1>
				<p>С помощью простого и удобного интерфейса MyBinotel пользоваться виртуальной АТС Binotel™ легче, чем любым другим решением на рынке.</p>
				<h1>Клиентоориентированность</h1>
				<p>Мы ценим и уважаем наших клиентов. Поэтому высокий уровень обслуживания и персональный подход к каждому клиенту — важнейший приоритет компании Binotel.</p>
			</div>
		</div>

		<div class="column-3">

			<div class="text">
				<h1>Передовые технологии</h1>
				<p>Binotel использует только высокотехнологичное оборудование мировых производителей и собственные  разработки ПО для обеспечения действительно надежной и качественной связи.</p>
				<h1>Обновление</h1>
				<p>Мы сделали отличный продукт, решающий реальные задачи бизнеса и которым довольны наши клиенты. Но технологии не стоят на месте, поэтому Binotel становится лучше каждые несколько месяцев, бесплатно.</p>
				<h1>Доступ без границ</h1>
				<p>С помощью Binotel можно всегда знать, как развивается бизнес в течение 24/7 в любом уголке мира. Управлять Binotel CTS можно с любого ноутбука, планшета или смартфона.</p>
			</div>
		</div>

	</div>

</div>